/* GLOBAL STYLES */

h1 {
  font-family: 'Alegreya SC', serif;
  /* font-family: 'Oranienbaum', serif; */
}

h2 {
  font-size: 15px;
  font-family: 'Oranienbaum', serif;
}

hr {
  border: 2px solid #CF8E26;
}

img {
  max-width: 100%;
  max-height: 100%;
}

p {
  margin-bottom: 20px;
}


/* PANELS */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  /* background: #e3b264; */
  background-image: url("web-image.jpg");
  font-family: Cambria, serif;
  display: flex;
}

.right {
  display: inline-block;
  right: 0;
  font-family: Cambria, serif;
  overflow: auto;
}

.centered {
  /* position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: left; */
  margin: auto;
  padding: 110px;
  overflow: auto;
}

/* COLLAPSIBLES */
.collapsible {
  background-color: blue;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin: 5px; /*makes unneeded space in left*/
  padding: 10px;
  text-align: left;
  transition: 0.4s;
  outline: none;
  width: 100%
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  background: green;
  padding: 0 10px;
  margin-left: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
